<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Dapps</title>
</head>
<script src="js/scatterjs-core.min.js" type="text/javascript"></script>
<script src="js/scatterjs-plugin-vexjs.min.js" type="text/javascript"></script>
<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/mainnet.js" type="text/javascript"></script>
<body>
